/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menu__header {
    display: inline-flex;
    align-items: center;
    margin-left: 90px;
}

.menu__header img {
    margin-right: 10px;
}

.menu__list {
    display: flex;
    gap: 25px;
}

.menu__list li:nth-child(6) {
    font-weight: bolder;
    margin-right: 50px;
}


/*Sección Title*/

section.title {
    display: flex;
    justify-content: space-around;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 80px 30px 15px 90px;
}

.title__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title__bio {
    font-size: 52px;
    font-weight: bold;
}

h3.title__subsection {
    font-size: 22px;
    font-weight: lighter;
}

.title__network {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 0;

}


/*Sección About*/

section.about {
    width: 100%;
    background-color: #EAF2FD;
    display: flex;
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 90px 20px 80px;
    padding-right: 300px;
}

.about__title {
    font-size: 32px;
    font-weight: bold;
}

.about__paragraph {
    font-size: 20px;
    font-weight: lighter;
}

/*Sección Skills */

section.skills {
    display: flex;
    flex-direction: column;
}

.skills__title {
    display: flex;
    justify-content: center;
}

.skills__line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #FFFFFF;
    width: 150px;
    height: 170px;
    padding-left: 25px;
}

.skills__img {
    margin-bottom: 10px;
}

.skills__name {
    padding-bottom: 20px;
}


/*Sección Hobbies*/

section.hobbies {
    display: flex;
    flex-direction: column;
}

.hobbies__title {
    display: flex;
    justify-content: center;
}

.hobbies__line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #FFFFFF;
    width: 150px;
    height: 170px;
    padding-left: 25px;
    /* 44, 124, 228 RGB iconos */
}

.hobbies__img {
    margin-bottom: 10px;
}

.hobbies__name {
    padding-bottom: 20px;
}

/* Experiencia Académica*/

section.academic {}

/* experiencia*/

section.experience {}

/*Contacto*/

section.formcontato {}

/*footeer*/

section.footer {}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}